# Docker / MySQL local
FRONTEND_PORT=4202
BACKEND_PORT=8082
MYSQL_PORT=3308
MYSQL_DATABASE=industria_plus
MYSQL_USER=industria_app
MYSQL_PASSWORD=industria123
MYSQL_ROOT_PASSWORD=root

# Backend / Spring Boot manual
APP_PORT=8080
DB_HOST=127.0.0.1
DB_PORT=3308
DB_NAME=industria_plus
DB_USER=industria_app
DB_PASSWORD=industria123
LOG_LEVEL=INFO
